@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список путей</title>
</head>
<body>
    <div>
        <h3>Распродажа книг</h3>
        <table>
            <tr>
                <td><p>х координата начала</p></td>
                <td><p>y координата начала</p></td>
                <td><p>х координата конца</p></td>
                <td><p>y координата конца</p></td>
                <td><p>номер</p></td>
                <td></td>
            </tr>
            @foreach (var p in ViewBag.Paths)
            {
            <tr>
                <td><p>@p.xBegin</p></td>
                <td><p>@p.yBegin</p></td>
                <td><p>@p.xEnd</p></td>
                <td><p>@p.yEnd</p></td>
                <td><p>@p.number</p></td>
                <td><p><a href="Home/Read/@p.Id">Путь</a></p></td>
            </tr>
            }
        </table>
    </div>
</body>
</html>